@import '../index.scss';
.search{
    position: relative;

    &__icon{
        position: absolute;
        left: 8px;
        top: 70%;
        transform: translateY(-50%);
        font-size: 1.6rem;
        color: $grey-dark;
    }

    &__input{
        padding-left: 30px;
        width: 100%;
        border: 1px solid $grey-light;
        // margin-right: 32px;
    }
}